/* BASE */

div,
p,
span,
form,
input,
textarea,
ul,
li,
i {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

body {
    position: relative;
    color: #222;
    font-size: 14px;
}

a {
    color: #222;
}

a:hover {
    color: #06f;
}

ul {
    padding: 0;
    margin: 0;
}


/* MODULES */

.box:after {
    content: "";
    display: table;
    clear: both;
}

.box-side {
    float: right;
    width: 150px;
}

.box-body {
    margin-right: 160px;
}

.box-banner+.box-banner {
    margin-top: 15px;
}

.box-banner img {
    max-width: 100%;
}

.select-list {}

.select-list-item {
    display: inline-block;
    width: 25%;
}

.select-list-item>a {
    position: relative;
    display: block;
    padding: 6px 12px 6px 30px;
}

.select-list-item.selected>a:before {
    content: "\f058";
    position: absolute;
    top: 50%;
    left: 5px;
    display: block;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    font-size: 24px;
    line-height: 16px;
    font-family: FontAwesome;
    color: #007bff;
}

.select-list-item>a:hover {
    background-color: #eee;
}

.sqr {
    position: relative;
}

.sqr:before {
    content: "";
    display: inline-block;
    padding-top: 100%;
}

.sqr-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.va {
    letter-spacing: -10px;
}

.va:before {
    content: "";
    position: relative;
    display: inline-block;
    height: 100%;
}

.va:before,
.va>* {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
}

.items {
    letter-spacing: -10px;
}

.item {
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
    letter-spacing: normal;
    border: 1px solid #eee;
}

.item:hover {
    border: 1px solid #999;
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.items>.item {
    display: inline-block;
    width: 25%;
}

.item-image {
    text-align: center;
    color: #999;
}

.item-image>.sqr-body {
    padding: 2px;
}

.item-image-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 100;
}
.item.video .item-image-video{
    display: block;
}

.item-image-video i.fa {
    font-size: 54px;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    -o-transition: font-size 0.3s;
    transition: font-size 0.3s;
}

.item-image img {
    max-width: 100%;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}

.item:hover .item-image img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.item:hover .item-image-video i.fa {
    font-size: 64px;
}

.item-image.sqr:before {
    padding-top: 70%;
}

.item-infos {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    line-height: 17px;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.item-info+.item-info {
    margin-top: 5px;
}

.item-info.name {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.item-info.title {
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.states-options.btn {
    position: relative;
    padding-right: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.states-options.btn>i.fa {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -8px;
}


/* OVERRID */

.btn {
    cursor: pointer;
}

.navbar {
    background-color: #37474f;
}

.navbar-brand,
.nav-link:hover,
.nav-link {
    color: #fefefe;
}

.navbar-toggler-icon {
    font-family: FontAwesome;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.navbar-toggler-icon:before {
    content: "\f0c9";
    display: inline-block;
    vertical-align: middle;
}

.container-fluid {
    width: 90%;
    max-width: 1280px;
}

.jumbotron .container-fluid {
    width: 100%;
}

.location {
    margin: 20px 0;
    min-height: 58px;
}

.location-box {
    margin-left: -20px;
    padding: 10px;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
.location-box > *{
    margin-left: 10px;
}

.location-box>* {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
}

.location-info {
    font-size: 16px;
}

.location.active .location-box {
    position: fixed;
    top: 0;
    margin-right: 20px;
    z-index: 1000;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #999; 
    border-top: 0;
}


/* DETAIL */

.detail {
    display: table;
}

.detail-section:before,
.detail-section:after {
    content: "";
    display: table;
    clear: both;
}

.detail-section+.detail-section {
    margin-top: 30px;
}

.detail-logo {
    float: left;
    margin: 5px 30px;
    display: inline-block;
    width: 250px;
    border: 10px solid #eee;
    border-radius: 50%;
    overflow: hidden;
}

.detail-logo img {
    width: 100%;
}

.detail-summary {
    margin-top: 30px;
    margin-left: 320px;
}

.detail-summary-item {
    font-size: 16px;
}

.detail-summary-item>i.fa {
    font-size: 24px;
}

.detail-summary-item>* {
    vertical-align: middle;
}

.detail-summary-item a {
    text-decoration: underline;
}

.detail-summary-item+.detail-summary-item {
    margin-top: 15px;
}

.detail-summary-item.title {
    font-size: 32px;
    font-weight: bold;
}

.detail-image {
    float: right;
    margin: 15px;
    max-width: 40%;
}

.detail-image img {
    max-width: 100%;
}

.detail-content ul {
    display: table;
    padding-left: 25px;
}

.detail-content li+li {
    margin-top: 10px;
}

footer {
    margin-top: 40px;
    min-height: 100px;
    text-align: center;
}

.modal-lg {
    max-width: 90%;
}
.popVideo-inner{
    min-width: 60%!important;
}

@media screen and (max-width: 768px) {
    .select-list-item {
        width: 33.33%;
    }
    .detail-logo {
        float: initial;
        display: block;
        margin: 15px auto;
    }
    .detail-summary {
        margin: 0;
    }
    .detail-summary-item.title {
        text-align: center;
    }
    .detail-image {
        float: initial;
        margin: 15px 0;
        max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .select-list-item {
        width: 50%;
    }
    .box-side {
        display: none;
        float: none;
        margin: 0!important;
        width: auto;
    }
    .box-body {
        margin: 0;
    }
    .display-4{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 420px) {
    .select-list-item {
        width: 100%;
    }
}
